*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Averta;
    src: url(/fontes/AvertaStd-Regular.ttf);
}
@font-face {
    font-family: AvertaBold;
    src: url(/fontes/AvertaStd-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Inter;
    src: url(/fontes/Inter.ttf);
}
:root{
    --bg:#2f3542;
    --bg-light:#5c616e;
    --border-gray:#5C616E;
    --skill-bg:#454B58;
    --primary:#2ed573;
    --primary-light:#82e6ab;
    --primary-dark:#25aa5c;
    --white:#ffffff;
    --gray-100: #E7E8EB;

}
body{

    background-color: var(--bg);
    font-family: 'Inter';
}
html{
    scroll-behavior: smooth;
}
:target {
    scroll-margin-top: .8em;
  }
a{
    text-decoration: none;
}
h1{
    font-family: 'Averta';
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-image: url(/imagens/bg_header.png);
    background-size: cover;
    
}
.header-top{
    background:#2f354296;
    height: 72px;
    width: 100% !important;
    position: fixed;
}
.header-top-inner{
 
    width: 100%;
    max-width: 1200px;
    display: flex;
    height: 72px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;

}
.header-top-inner img{
    width: 200px;
    height:45px;
}
.header-top-inner nav{
    display: flex;
    gap:25px;    
}
.header-top-inner nav a{
    display: flex;
    gap:25px;
    color:var(--white);
    font-size:16px;
    text-decoration: none;
    padding-bottom: 15px;
    padding-top: 15px;
    
}
.header-top-inner nav a:hover{
    color:var(--primary);
    border-bottom:var(--primary) 2px solid;
    transition: 0.5s;
}
.banner-header{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.banner-header img{
    width: 600px;
}
.texts-banner{
    display: flex;
    flex-direction: column;
}
.texts-banner .header-subtitle{
    color: var(--primary);
    font-size: 14px;
    padding-bottom: 8px;

}
.header-title{
    font-family: 'AvertaBold';
    color: var(--white);
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 25px;
}
.texts-banner .header-title img{
    width: 35px;
}
 .header-description{
    color: var(--white);
    font-size: 22px;
    padding-bottom: 25px;
}
.base-header-btn{
    display: flex;
    gap:15px;
}
.base-header-btn .btn-primary{
    padding: 15px 25px;
    border-radius: 5px;
    border:var(--primary-dark) 2px solid;
    font-size: 18px;
    background-color: var(--primary-dark);
    color: var(--white);
}
.base-header-btn .btn-primary:hover{
    border:var(--primary) 2px solid;
    background-color: var(--primary);
    transition: 0.5s;
    cursor: pointer;
}
.base-header-btn .btn-secundary{
    padding: 15px 25px;
    border-radius: 5px;
    border:var(--primary) 2px solid;
    font-size: 18px;
    background-color:var(--bg);
    color: var(--primary);
}
.base-header-btn .btn-secundary:hover{
    border:var(--primary-dark) 2px solid;
    background-color:var(--bg);
    color:var(--primary-dark);
    transition: 0.5s;
    cursor: pointer;
}
.about{
    background-color: var(--bg-light);
}
.base-about{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
    gap:30px;
}
.about-photo-icons{
    display: grid;
    gap:10px;
    text-align: center;
}
.about-photo-icons img{
    width: 152px;
    border-radius: 50%;
    padding: 5px;
    border: var(--primary) 4px solid;
}
.about-photo-icons img:hover{
    filter: grayscale(1);
    transition: 0.5s;
}
.about-photo-icons h2{
    font-size: 24px;
    font-family: Averta;
    color: var(--primary);
}
.about-photo-icons span{
    font-size: 16px;
 
    color: var(--white);
}
.social-icons-about img{
    width: 26px;
    padding: 2px;
    border: none;
    border-radius: 0%;
}
.social-icons-about img:hover{
    width: 30px;
    transition: 0.3s ease-in-out;
    opacity: 0.7;
    padding: 0px;
}
.about-text .about-description{
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    
}
.about-star{
    width: 22px;
    padding-bottom: 25px ;
}
.about-description img{
    width: 20px;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0px;
    background: var(--bg);
    background-image: url(/imagens/bg_skill_section.png);
    background-size: cover;


}
.base-skills{
    text-align: center;
}

.base-skills .skills-description{
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    
}
.skills-itens{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 24px;
    color: var(--white);
    margin-top: 25px;
}
.skills-itens div{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 12px;
    width: 112px;
    height: 140px;
    border: var(--border-gray) 2px solid;
    background-color: var(--skill-bg);
    border-radius: 8px;
}
.skills-itens div:hover{
    border: var(--primary-light) 2px solid;
    background: var(--bg);
    transition: 0.3s;
    cursor: pointer;
}
.skills-itens div:hover svg path:nth-child(1){
    fill:var(--primary);
}
.projects{
    background-color: var(--bg-light);
    padding: 80px 0px;
}
.base-projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 25px;
}
.projects-description{
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
}
.cards-projects{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 15px;
}
.cards-projects .cards{
    background: var(--bg);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:24px;
}
.cards-projects .cards h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    font-family: Averta;
}
.cards-projects .cards span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--gray-100);
}
.cards-projects .cards .tags a{
    padding: 5px;
    margin-right: 10px;
    color: var(--primary);
    border: var(--primary) 1px solid;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
}
.cards-projects .cards .tags a:hover{
    border: var(--primary-dark) solid 1px;
    color: var(--primary-dark);
    transition: 0.3s;
}
.btn-project{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: capitalize;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    width: 100%;
    padding: 14.5px 0px;
    border-radius: 4px;
    text-align: center;

}
.btn-project:hover{
    background-color: var(--primary-dark);
    transition: 0.3s;
}
#contact{
    background-image: url(/imagens/bg_contact_section.png);
    background-size: cover;
    padding: 80px 0px;
}
.base-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 25px;
}
.contact-infos{
    display: flex;
    flex-direction: column;
    gap:14px;
}
.contact-infos span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--gray-100);
}
.contact-photo img{
    width: 450px;
}
.whatsapp:hover{
    opacity: 0.6;
    transition: 0.5s;
}
.whatsapp img{
    width: 18.75px;
    margin-right: 8px;
}
.whatsapp a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
}
footer{
    padding: 10px;
    border-bottom: var(--primary) solid 2px;
}
.base-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-size: 12px;
    line-height: 16px;
}
.base-footer a{
    color: var(--primary);
}
.base-footer a:hover{
    color: var(--bg-light);
}
.base-footer img{
    height: 15px;;
}









@media (max-width:1199px) {
    .header-top{
        background-color: var(--bg);
        height:auto;
        position: relative;
        border-bottom: var(--primary) 2px solid;
    }
    .container{
        width: 100%;
        max-width: 1200px;
    }
    .header-top-inner{
        flex-direction:column;
        height:auto;
    }

    .header-top-inner nav{
        width:100%;
        flex-direction: column;
    }
    .banner-header{
        display: grid;
    grid-template-columns: 1fr;
    padding: 35px;
    gap:25px;
    justify-items: center;

    }
    .about-photo-icons{
        justify-content: center;
    }
    .banner-header img{
        width:70%;
        
    }
    .base-about{
        display: grid;
        grid-template-columns: 1fr;
        padding:30px;
        justify-content: center;
        text-align: center;
    }
    .base-projects{
        display: grid;
        grid-template-columns: 1fr;
        padding:30px;
        justify-content: center;
        text-align: center;
    }
    .cards-projects{
        display: grid;
        grid-template-columns: 1fr;   
    }
    .base-contact{
        display: grid;
        grid-template-columns: 1fr;
        padding:30px;
        justify-content: center;
        text-align: center;
    }
    .contact-photo img {
        width: 70%;
    }

    
}

@media (max-width:768px) {


}